<!-- wp:template-part {"slug":"header","theme":"edumi","tagName":"header","className":"shadow"} /-->

<!-- Page Header -->
<div class="wp-block-udemy-plus-page-header">
    <div class="inner-page-header">
        <h1>Tag: Drupal</h1>
    </div>
</div>

<!-- wp:columns {"style":{"spacing":{"margin":{"top":"4rem","bottom":"4rem"}}},"className":"container !mx-auto"} -->
<div class="wp-block-columns container !mx-auto" style="margin-top:4rem;margin-bottom:4rem">
    <!-- wp:column {"width":"70%"} -->
    <div class="wp-block-column" style="flex-basis:70%">
        <!-- wp:query {"queryId":20,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true}} -->
        <div class="wp-block-query"><!-- wp:post-template -->
            <!-- wp:columns {"style":{"spacing":{"padding":{"bottom":"2.5rem"},"margin":{"bottom":"2.5rem"}}}} -->
            <div class="wp-block-columns" style="margin-bottom:2.5rem;padding-bottom:2.5rem">
                <!-- wp:column {"width":"33.33%"} -->
                <div class="wp-block-column" style="flex-basis:33.33%">
                    <!-- wp:post-author {"avatarSize":24,"style":{"elements":{"link":{"color":{"text":"var:preset|color|edu-gray-700"}}},"spacing":{"margin":{"bottom":"1rem"},"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"textColor":"edu-gray-700","className":"post-author"} /-->

                    <!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|edu-gray-700"}}},"typography":{"lineHeight":"1.75"},"spacing":{"margin":{"bottom":"0.5rem"}}},"textColor":"edu-gray-700","fontSize":"medium"} /-->

                    <!-- wp:post-date {"style":{"elements":{"link":{"color":{"text":"var:preset|color|edu-gray-500"}}}},"className":"!mt-0"} /-->
                </div>
                <!-- /wp:column -->

                <!-- wp:column {"width":"66.66%","className":"!mt-0"} -->
                <div class="wp-block-column !mt-0" style="flex-basis:66.66%">
                    <!-- wp:post-featured-image {"isLink":true,"width":"100%","style":{"spacing":{"margin":{"bottom":"1rem"}}},"className":"rounded-lg overflow-hidden"} /-->

                    <!-- wp:group {"style":{"elements":{"link":{"color":{"text":"var:preset|color|edu-gray-500"}}},"typography":{"fontSize":"0.88rem"},"spacing":{"margin":{"bottom":"1rem"}}},"textColor":"edu-gray-500","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
                    <div class="wp-block-group has-edu-gray-500-color has-text-color has-link-color"
                        style="margin-bottom:1rem;font-size:0.88rem">
                        <!-- wp:post-terms {"term":"post_tag","style":{"elements":{"link":{"color":{"text":"var:preset|color|edu-gray-500"}}}},"textColor":"edu-gray-500"} /-->

                        <!-- wp:comments {"style":{"spacing":{"margin":{"top":"0rem","bottom":"0rem"}}}} -->
                        <div class="wp-block-comments" style="margin-top:0rem;margin-bottom:0rem">
                            <!-- wp:comments-title {"showPostTitle":false,"style":{"spacing":{"padding":{"top":"0px","bottom":"0px"}}},"className":"bi post-comment-count"} /-->
                        </div>
                        <!-- /wp:comments -->
                    </div>
                    <!-- /wp:group -->

                    <!-- wp:post-excerpt {"style":{"typography":{"fontSize":"1rem"},"spacing":{"margin":{"top":"0rem","bottom":"0rem"}}}} /-->
                </div>
                <!-- /wp:column -->
            </div>
            <!-- /wp:columns -->
            <!-- /wp:post-template -->

            <!-- wp:query-pagination {"paginationArrow":"chevron","style":{"elements":{"link":{"color":{"text":"var:preset|color|edu-gray-500"}}}},"textColor":"edu-gray-500","layout":{"type":"flex","justifyContent":"space-between","flexWrap":"nowrap"}} -->
            <!-- wp:query-pagination-previous {"label":"Previous","className":"rounded-md py-2 px-4 block transition-all hover:bg-gray-100"} /-->

            <!-- wp:query-pagination-next {"label":"Next","className":"rounded-md py-2 px-4 block transition-all hover:bg-gray-100"} /-->
            <!-- /wp:query-pagination -->

            <!-- wp:query-no-results -->
            <!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
            <p></p>
            <!-- /wp:paragraph -->
            <!-- /wp:query-no-results -->
        </div>
        <!-- /wp:query -->
    </div>
    <!-- /wp:column -->

    <!-- wp:column {"width":"30%","className":"rounded-lg overflow-hidden"} -->
    <div class="wp-block-column rounded-lg overflow-hidden" style="flex-basis:30%">
        <!-- wp:template-part {"slug":"sidebar","theme":"edumi"} /-->
    </div>
    <!-- /wp:column -->
</div>
<!-- /wp:columns -->

<!-- wp:template-part {"slug":"footer","theme":"edumi","tagName":"footer","className":"bg-gray-700 p-16"} /-->